<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>流量報表 - Outline</title>
</head>
<body>
    <div class="mb-5 flex items-center">
        <div class="field-label mr-4 text-lg">過去天數</div>
        <input type="number" id="day-selector" name="day-selector" required value="7" class="mr-4 shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
        <button type="submit" id="day-selector-btn" class="bg-orange-400 hover:bg-orange-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">抓取資料</button>
    </div>
    <div class="flex justify-center items-center">
        <div class="flex-1 m-4">
            <canvas id="get-weekly-foot-traffic-by-hour" width="600" height="500"></canvas>
        </div>
        <div class="flex-1 m-4">
            <canvas id="get-weekly-foot-traffic-distribution" width="500" height="500"></canvas>
        </div>
    </div>
    
    <script>
        let getWeeklyFootTraficByHourChart = null;
        let getWeeklyFootTrafficDistributionChart = null;

        const getWeeklyFootTraficByHour = async (day) => {
            try {
                if (getWeeklyFootTraficByHourChart) {
                    getWeeklyFootTraficByHourChart.destroy();
                }

                const response = await axios.get(`/api/restaurant/${restaurantId}/dashboard/getWeeklyFootTrafficByHour?lastDays=${day}`)
                const data = response.data.data
                const ctx = document.getElementById('get-weekly-foot-traffic-by-hour').getContext('2d');
                getWeeklyFootTraficByHourChart = new Chart(ctx, {
                    type: 'line',
                    data,
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            x: {
                                title: {
                                    display: true,
                                    text: '時間 (小時)',
                                    font: {
                                        size: 20
                                    }
                                },
                                ticks: {
                                    font: {
                                        size: 16
                                    }
                                },
                            },
                            y: {
                                title: {
                                    display: true,
                                    text: '用餐人數',
                                    font: {
                                        size: 20
                                    }
                                },
                                ticks: {
                                    font: {
                                        size: 16
                                    }
                                },
                            }
                        },
                        plugins: {
                            title: {
                                display: true,
                                text: '每小時的人流量',
                                font: {
                                    size: 24
                                }
                            },
                            legend: {
                                labels: {
                                    font: {
                                        size: 16
                                    }
                                }
                            }
                        }
                    }
                });
            } catch (err) {
                console.log(err)
                alert(err.response.data.error)
            }
        }

        const getWeeklyFootTrafficDistribution = async (day) => {
            try {
                if (getWeeklyFootTrafficDistributionChart) {
                    getWeeklyFootTrafficDistributionChart.destroy();
                }
                
                const response = await axios.get(`/api/restaurant/${restaurantId}/dashboard/getWeeklyFootTrafficDistribution?lastDays=${day}`)
                const data = response.data.data
                
                const ctx = document.getElementById('get-weekly-foot-traffic-distribution').getContext('2d');
                getWeeklyFootTrafficDistributionChart = new Chart(ctx, {
                    type: 'bar',
                    data,
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            y: {
                                beginAtZero: true,
                                ticks: {
                                    font: {
                                        size: 16
                                    }
                                },
                                title: {
                                    display: true,
                                    text: '用餐人數',
                                    font: {
                                        size: 20 
                                    }
                                }
                            },
                            x: {
                                ticks: {
                                    font: {
                                        size: 16
                                    }
                                },
                            }
                        },
                        plugins: {
                            title: {
                                display: true,
                                text: '人流分布',
                                font: {
                                    size: 24
                                }
                            }
                        }
                    }
                });
            } catch (err) {
                console.log(err)
                alert(err.response.data.error)
            }
        }
        
        const dayInput = document.getElementById('day-selector')
        const retrieveDataBtn = document.getElementById('day-selector')

        document.addEventListener('DOMContentLoaded', async () => {
            const day = document.getElementById('day-selector').value
            await getWeeklyFootTraficByHour(day);
            await getWeeklyFootTrafficDistribution(day);
            dayInput.addEventListener('keypress', (event) => {
                if (event.keyCode === 13) { 
                    retrieveDataBtn.click();
                }
            })

        })

        retrieveDataBtn.addEventListener('click', async () => {
            const day = dayInput.value
            if (day > 0) {
                await getWeeklyFootTraficByHour(day);
                await getWeeklyFootTrafficDistribution(day);
            } else {
                alert('請輸入大於零的數字');
                dayInput.value = 7
            }
        })
    </script>
</body>
</html>