<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>流量報表 - Outline</title>
</head>
<body>
    <div class="flex justify-center items-center">
        <div class="flex-1 m-4">
            <canvas id="get-weekly-foot-traffic-by-hour" width="600" height="500"></canvas>
        </div>
        <div class="flex-1 m-4">
            <canvas id="get-weekly-foot-traffic-distribution" width="500" height="500"></canvas>
        </div>
    </div>
    

    <script>
        const getWeeklyFootTraficByHour = async () => {
            try {
                const response = await axios.get(`/api/restaurant/${restaurantId}/dashboard/getWeeklyFootTrafficByHour?lastDays=7`)
                const data = response.data.data
                const ctx = document.getElementById('get-weekly-foot-traffic-by-hour').getContext('2d');
                const getWeeklyFootTraficByHourChart = new Chart(ctx, {
                    type: 'line',
                    data,
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            x: {
                                title: {
                                    display: true,
                                    text: '時間 (小時)',
                                    font: {
                                        size: 20
                                    }
                                },
                                ticks: {
                                    font: {
                                        size: 16
                                    }
                                },
                            },
                            y: {
                                title: {
                                    display: true,
                                    text: '用餐人數',
                                    font: {
                                        size: 20
                                    }
                                },
                                ticks: {
                                    font: {
                                        size: 16
                                    }
                                },
                            }
                        },
                        plugins: {
                            title: {
                                display: true,
                                text: '一周內每小時的人流量',
                                font: {
                                    size: 24
                                }
                            },
                            legend: {
                                labels: {
                                    font: {
                                        size: 16
                                    }
                                }
                            }
                        }
                    }
                });
            } catch (err) {
                alert(err.response.data.error)
            }
        }

        const getWeeklyFootTrafficDistribution = async () => {
            try {
                const response = await axios.get(`/api/restaurant/${restaurantId}/dashboard/getWeeklyFootTrafficDistribution?lastDays=7`)
                const data = response.data.data
                
                const ctx = document.getElementById('get-weekly-foot-traffic-distribution').getContext('2d');
                const myChart = new Chart(ctx, {
                    type: 'bar',
                    data,
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            y: {
                                beginAtZero: true,
                                ticks: {
                                    font: {
                                        size: 16
                                    }
                                },
                                title: {
                                    display: true,
                                    text: '用餐人數',
                                    font: {
                                        size: 20 
                                    }
                                }
                            },
                            x: {
                                ticks: {
                                    font: {
                                        size: 16
                                    }
                                },
                            }
                        },
                        plugins: {
                            title: {
                                display: true,
                                text: '一周內的人流分布',
                                font: {
                                    size: 24
                                }
                            }
                        }
                    }
                });
            } catch (err) {
                alert(err.response.data.error)
            }
        }

        document.addEventListener('DOMContentLoaded', async () => {
            await getWeeklyFootTraficByHour();
            await getWeeklyFootTrafficDistribution();
        });
    </script>
</body>
</html>