<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理員中心</title>
</head>
<body>
    <button id="logoutButton" class="bg-orange-500 text-white font-bold py-2 px-4 rounded hover:bg-orange-600 focus:outline-none focus:shadow-outline">登出</button>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        document.getElementById('logoutButton').addEventListener('click', async () => {
            try {
                document.cookie = 'token=; Max-Age=0; path=/';
                localStorage.removeItem('restaurantId');
                const response = await axios.post('/api/user/signout');
                window.location.href = '/signin';
            } catch (err) {
                alert(err.response.data.error)
            }
        });
    </script>
</body>
</html>
