<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/images/outline_icon.png" type="image/png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入 - Outline</title>
    <link href="/css/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex justify-center items-center h-screen">
    <div class="w-full max-w-sm bg-white shadow-md rounded px-10 pt-8 pb-8 mb-4">
        <form>
            <div class="mb-6 border-b-4 border-gray-300">
                <h1 class="text-2xl font-bold text-gray-700 text-center mb-3">Outline 餐廳訂位系統</h1>
            </div>
            <div class="mb-4">
                <input type="email" placeholder="電子郵件地址" id="sign-in-email" class="form-input w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline">
            </div>
            <div class="mb-6">
                <input type="password" placeholder="密碼" id="sign-in-password" class="form-input w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline">
            </div>
            <div class="flex items-center justify-between">
                <button id="sign-in-btn" class="form-btn bg-orange-500 hover:bg-orange-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full" type="button">
                    登入
                </button>
            </div>
        </form>

        <div class="my-4 flex items-center">
            <div class="flex-grow border-t border-gray-300"></div>
            <span class="mx-4 text-gray-500 font-semibold">OR</span>
            <div class="flex-grow border-t border-gray-300"></div>
        </div>

        <div>還沒有帳號嗎? <a href="/signup" class="text-blue-600">前往註冊</a></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
    localStorage.removeItem('restaurantId')
    const signInEmail = document.querySelector('#sign-in-email')
    const signInPassword = document.querySelector('#sign-in-password')
    const signInBtn = document.querySelector('#sign-in-btn')

    document.addEventListener('DOMContentLoaded', () => {
        function handleEnterKeyPress(event) {
                if (event.keyCode === 13) { 
                    signInBtn.click();
                }
        }
        signInEmail.addEventListener('keypress', handleEnterKeyPress);
        signInPassword.addEventListener('keypress', handleEnterKeyPress);
    })

    signInBtn.addEventListener('click', async (event) => {
            event.preventDefault()
            
            const email = signInEmail.value
            const password = signInPassword.value
            if (!email) {
                alert('請填寫電子郵件地址');
                return;
            }
            const emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
            if (!emailRegex.test(email)) {
                alert('請填寫有效的電子郵件地址');
                return;
            }
            if (!password) {
                alert('請填寫密碼');
                return;
            }
            signInEmail.value = ''
            signInPassword.value = ''
        
        try {
            const response = await axios.post('/api/v1/user/signin', {
                email,
                password
            })

            // Store the access_token with cookie
            const now = new Date();
            const expires = new Date(now.getTime() + `${response.data.data.access_expired}` * 1000)
            document.cookie = `token=${encodeURIComponent(response.data.data.access_token)}; expires=${expires.toUTCString()};`
            window.location.href = '/admin/chooseRestaurant'
        } catch (err) {
            alert(`Failed: ${err.response.data.errors}`)
        }
    })
    </script>
</body>
</html>