<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/images/outline_icon.png" type="image/png">
    <link href="/css/output.css" rel="stylesheet">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        let token
        document.addEventListener('DOMContentLoaded', async () => {
            const cookies = document.cookie.split('; ')
            for (const cookie of cookies) {
                const [name, value] = cookie.split('=')
                if (name === 'token') {
                    token = value
                    break
                }
            }

            if (token === undefined) {
                window.location.href = '/'
            }
        })

        const restaurantId = localStorage.getItem('restaurantId');
        // if (!restaurantId) {
        //     window.location.href = '/'
        // }
    </script>
</body>
</html>