<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/output.css" rel="stylesheet">
</head>
<body>
    <%- include('./global.ejs') %>
    <div class="flex min-h-screen">
        <%- include('../partials/sidebar.ejs') %>
        <div class="flex-grow p-5">
            <div class="flex justify-between items-center">
                <div class="text-4xl font-bold">規則管理</div>
            </div>
            <%- body %>
        </div>
    </div>
</body>
</html>