<!DOCTYPE html>
<html>
<head>
    <style>
    </style>
</head>
<body>
    <div id="restaurant-name"><%= restaurantName %></div>
    <div id="customer-name"><%= customerName %> <%= gender %>您好</div>
    <div>已為您安排訂位</div>
    <div id="dining-info">
        <div id="dining-date"><%= diningDate %> <%= dayOfWeek %></div>
        <div id="dining-time"><%= diningTime %></div>
        <div id="person"><%= adult %> 大 <%= child %> 小</div>
        <div id="check-more-btn"><a href="<%= link %>">查看更多</a></div>
    </div>
</body>
</html>
