@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.user-message {
    @apply max-w-xs ml-auto bg-blue-100 text-right p-2 rounded;
    /* 其他样式 */
}

/* 后端响应消息样式：左对齐 */
.server-message {
    @apply max-w-xs mr-auto bg-gray-100 text-left p-2 rounded;
    /* 其他样式 */
}

@keyframes slide-up-first {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}

@keyframes slide-up-second {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}

@keyframes slide-up-third {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}

  .number-box {
    @apply relative w-16 h-24 bg-white flex items-center justify-center rounded-lg shadow-md;
    overflow: hidden; /* 保持数字在框内滑动 */
  }

  .number {
    @apply absolute top-0 text-4xl font-bold text-orange-500 w-full h-full flex items-center justify-center;
    transition: transform 0.5s;
  }

  .slide-up {
    transform: translateY(-100%);
  }

